body{
	width: 100%;
	
	
}

main{
	width: 100%;

	
}

.container{ 
  	display: flex;
  	margin: 10% 4% 6% 4%;
  	align-items: flex-end; 
	display: flex; 
	justify-content: space-between;
}

.website-name{
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	font-weight: 900;
	letter-spacing:4px ;
	text-transform: uppercase;
}

.website-tagline{
	font-family: 'Yrsa', serif;
	font-size: 12px;
	font-weight:400;
	letter-spacing: 0px;
	text-transform: lowercase;
	margin-top:1%;
}

.nav-container{
display: flex;
 margin-bottom: 3%;
 align-items: flex-end; 
display: flex; 
justify-content: space-between;
}
ul {
font-family: 'Yrsa', serif;
font-size: 12px;
font-weight:400;
justify-content: flex-end;
	margin-right: 4%;
}


.intro-text{
	width: 90%;
	margin-left: 4%;
	font-family: 'Yrsa', serif;
	font-size: 40px;
	letter-spacing: -3%
	line-height:1.10;
	font-weight:300;
	padding-bottom:100%;
}

.creative-process{
background-color: rgba(189,16,224,.05);
width: 100%;
left: 0;

	
	
}

.creative-process-container{
width:100%;
align-items: flex-end; 
display: flex; 
justify-content: center;
/*border: solid 1px black;
*/padding: 4% 0;
}

.full-circle-container{
width:100%;
align-items: flex-end; 
display: flex; 
justify-content: center;
/*border: solid 1px black;
*/padding: 6% 0;

}
.full-circle {
position: relative;
border-radius: 50%;
width: 80%;
height: auto;
padding-top: 80%;
background: white;
}

 



.reg-day{
	
background-color: rgba(208,2,27,.05); 	
width: 100%;
left: 0;
min-height: 600px;
	
	 
}
.shots{
background-color: rgba(126,211,33,.05); 	
width: 100%;
left: 0;
min-height: 600px;
	
}





