body,main{
	width: 100%;
}

header{
position: fixed;
top: 0;
left: 0;
width: 100%;
background-color: rgba(255,255,255,.75);
 z-index: 9;
}

main{
	padding-top:23%;
}


.container-header{ 
  	display: flex;
  	margin: 10% 4% 6% 4%;
  	align-items: flex-end; 
	justify-content: space-between;

}

.website-name{
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	font-weight: 900;
	letter-spacing:4px ;
	text-transform: uppercase;
}

.website-tagline{
	font-family: 'Yrsa', serif;
	font-size: 12px;
	font-weight:400;
	letter-spacing: 0px;
	text-transform: lowercase;
	margin-top:1%;
}

.container-main{
	position: relative;
	width: 100%;
	vertical-align: top;
	float:left;
clear:none;




}
.content-main{
	width: 90%;
	margin:4% 4% 0% 4%;
/*	border: solid 1px black;
*/	

	
}

.intro-text{
	padding-bottom: 50%;
}

.intro-text-text{
	
font-family: 'Yrsa', serif;
font-size: 40px;
font-weight:300;
letter-spacing: -3%
line-height:1.10;
	
}

.creative-process{
background-color: rgba(189,16,224,.05);
}


.container-charts-header{
width:100%;
align-items: flex-end; 
display: flex; 
justify-content: center;
/*border: solid 1px black;*/
padding: 12% 0 10% 0;
}



.charts-header-text{
	font-family: 'Yrsa', serif;
	font-size: 24px;
	font-weight:300;
}

.full-circle-container{
width:100%;
align-items: flex-end; 
display: flex; 
justify-content: center;
/*border: solid 1px black;
*/padding: 6% 0;

}
.full-circle {
position: relative;
border-radius: 50%;
width: 80%;
height: auto;
padding-top: 80%;
background: #E986E6;
}

.box-dicking-around{
width: 20%;
padding: 2% 1%;
border: solid 4px #E986E6;
margin-left:60%;
}

.text-box{
font-family: 'Roboto', sans-serif;
font-size: 16px;
font-weight: 900;
text-transform: uppercase;
text-align: center;

}


.container-infographic{
width:100%;
align-items: flex-end; 
display: flex; 
justify-content: center;
/*border: solid 1px black;
*/}





.reg-day{
background-color: rgba(208,2,27,.05); 	

}

.shots{

background-color: rgba(126,211,33,.05); 	

}





